.slug-page {
    @apply flex;
    @apply flex-col;
    @apply h-screen;
}

.slug-page > div:not(:first-child) {
    @apply flex;
    @apply justify-center;
    @apply flex-col;
    @apply text-center;
    @apply p-6;
}

.slug-header-section,
.slug-footer-section {
    @apply flex-grow;
    color: #424242; 
}

.slug-author-section {
    background-color: #424242;
    color: #FEFEFA;
}

.slug-header-section {
    flex: 2 0 40%;
    background-color: #FCFC62;
    @apply p-10;
}

.slug-header-section-content,
.slug-author-section-content,
.slug-footer-section-content {
    @apply w-3/5;
    @apply flex;
    @apply flex-row;
    @apply mx-auto;
}

.slug-post-section {
    background-color: #FEFEFA;
    color: #424242;
}

.slug-footer-section-content {
    @apply w-2/5;
}

.slug-header-section-content-left,
.slug-header-section-content-right,
.slug-author-section-content-left,
.slug-author-section-content-right {
    @apply flex;
}

.slug-header-section-content-left,
.slug-author-section-content-left {
    @apply flex-col;
    @apply w-4/5;
    @apply mx-auto;
    @apply text-left;
    @apply justify-center;
}


.slug-author-section-content-left {
    @apply w-3/5;
}

.slug-author-section-content-right-img {
    @apply flex-col;
    @apply self-center;
}

.slug-author-section-content-right img {
    @apply align-middle;
    @apply justify-center;
}

.slug-author-section-content-left > h1,
.slug-author-section-content-left > h3 {
    @apply py-3;
}

.slug-author-section-content-left > h3 > span {
    text-decoration: underline;
    text-decoration-color: #FCFC62;
    text-underline-offset: 4px; /* WARNING NOT COMPATIBLE WITH IE11!*/
}

.slug-author-section-content-left button {
    background-color: #FCFC62;
    color: #424242;
    @apply w-2/5;
    @apply p-2;
    @apply rounded-sm;
}

.slug-header-section-content-left h3 {
    @apply pt-3;
}

.slug-post-section {
    flex: 1 1 50%;
}

.slug-footer-section {
    flex: 1 0 20%;
    background-color: #A3A3A3;
}

.slug-post-section-content {
    @apply w-full;
    @apply w-1/2;
    @apply mx-auto;
    @apply text-left;
    @apply p-5;
}

@media (max-width: 1024px) {
    .slug-header-section-content,
    .slug-author-section-content,
    .slug-post-section-content {
        @apply w-full;
    }
    .slug-footer-section-content {
        @apply w-4/5;
    }
    .slug-author-section-content-left {
        @apply w-3/5;
    }
}

@media (max-width: 640px) {
    .slug-header-section-content {
        @apply flex-col;
        @apply flex-col-reverse;
    }
    .slug-author-section-content {
        @apply flex-col;
        @apply flex-col-reverse;
    }
    .slug-header-section-content-left {
        @apply w-full;
    }
    .slug-author-section-content-left {
        @apply w-full;
    }
    .slug-author-section-content-left button {
        @apply w-3/6;
    }
}

