.slug-page {
    @apply flex;
    @apply flex-col;
    @apply h-screen;
}

.slug-page > div:not(:first-child) {
    @apply flex;
    @apply justify-center;
    @apply flex-col;
    @apply text-center;
    @apply p-6;
}

.slug-header-section,
.slug-footer-section {
    @apply flex-grow;
    @apply text-black; 
}

.slug-header-section {
    flex: 2 0 40%;
    @apply bg-yellow-400;
    @apply p-10;
}

.slug-post-section {
    flex: 1 1 50%;
}

.slug-footer-section {
    flex: 1 0 20%;
    @apply bg-gray-400;
}

.slug-post-section-content {
    @apply w-full;
    @apply md:w-2/5;
    @apply mx-auto;
    @apply text-left;
    @apply p-5;
}
