.navbar {
    @apply flex;
    @apply flex-row;
    @apply flex-wrap;
    @apply align-middle;
    @apply text-black;
    @apply bg-yellow-400;
    @apply p-6;
    @apply sticky;
    @apply top-0;
    @apply w-full;
    @apply border-b;
    @apply border-black;
    transition: background-color 0.2s ease;
}

.colorChange { 
    @apply bg-white;
    @apply text-gray-500;
    transition: background-color 0.2s ease;
}

.navbar-content {
    @apply flex;
    @apply mx-auto;
    @apply w-3/5;
}

.navbar-content-right,
.navbar-content-left {
    @apply flex;
}

.navbar-content-right {
    @apply flex-row;
    @apply ml-auto;
    @apply w-2/5;
}

.navbar-content-left {
    @apply justify-center;
    @apply w-2/5;
}

.navbar-content-left a {
    line-height: 2.5rem;
    @apply px-3;
}

.navbar-content-right > a {
    line-height: 2.5rem;
    width: 25%;
}

.icon {
    @apply inline-block;
    @apply w-12;
    @apply h-12;
}

.navbar a:hover {
    @apply text-gray-700;
}